# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.kektrophies.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Programming\kektrophies\.idea\.idea.kektrophies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
